<script setup lang="ts">
import cytoscape from 'cytoscape';
import type { Collection } from 'cytoscape';
import { ref, onMounted, watch } from 'vue';
import { updateRenderer } from '../graph';
import type { Graph } from '../graph';
import { makePalette } from '../palette';
import { uniq } from 'remeda';
import { lettersOfWord } from '../word';
import { QBtn } from 'quasar';
import { useVModel } from '@vueuse/core';
const graphContainer = ref();
const props = defineProps<{
  words: string[];
  graph: Graph;
}>();
const emit = defineEmits<{
  (name: 'type', letter: string): void;
}>();

const cy = cytoscape({
  style: [
    {
      selector: 'node',
      css: {
        label: 'data(letter)',
        'background-color': 'data(color)',
        'text-halign': 'center',
        'text-valign': 'center',
      }
    },
    {
      selector: 'edge[color]',
      css: {
        'line-fill': 'solid',
        'line-color': 'data(color)',
      }
    },
    {
      selector: 'edge[colors]',
      css: {
        'line-fill': 'linear-gradient',
        // @ts-ignore Typing for the next property is incorrect
        'line-gradient-stop-colors': 'data(colors)', 
      }
    }
  ]
});
cy.on('tap', 'node', function({target: node}){
  emit('type', node.data('letter'))
});
function getElementsByIds(from: Collection, ids: string[]) {
  return ids.reduce(
    (collection, id) => collection.union(from.getElementById(id)),
    cy.collection()
  );
}
function updateGraph() {
  const getColor = makePalette(uniq(props.words.flatMap(lettersOfWord)));
  updateRenderer(props.graph, {
    nodeKeys: cy.elements('node').map(element => element.id()),
    edgeKeys: cy.elements('edge').map(element => element.id()),
    addNodes(nodes) {
      cy.add(nodes.map(({letter, key: id}) => ({
        group: 'nodes',
        data: {
          id,
          letter,
          color: getColor(letter),
        },
      })));
    },
    addEdges(edges) {
      cy.add(edges.map(({nodes: [sourceNode, targetNode], key: id}) => {
        const options = sourceNode.key === targetNode.key ? {
          color: getColor(sourceNode.letter),
        } : {
          colors: [getColor(sourceNode.letter), getColor(targetNode.letter)],
        }
        return {
          group: 'edges',
          data: {
            id,
            source: sourceNode.key,
            target: targetNode.key,
            ...options,
          },
        }
      }));
    },
    removeNodesWithKeys(keys) {
      cy.remove(getElementsByIds(cy.elements('node'), keys));
    },
    removeEdgesWithKeys(keys) { 
      cy.remove(getElementsByIds(cy.elements('edge'), keys));
    },
  })
  redraw();
}

function redraw() {
  cy.reset();
  cy.layout({name: 'cose'}).run();
}

onMounted(() => {
  cy.mount(graphContainer.value),
  updateGraph();
  watch(() => props.words, updateGraph);
});
</script>

<template lang="pug">
.graph-renderer
  .graph(ref="graphContainer")
  QBtn.redraw(
    v-if="words.length"
    icon="refresh"
    color="secondary"
    label="Redraw"
    @click="redraw"
  )
</template>

<style scoped>
.graph-renderer {
  position: relative;
}
.graph {
  width: 100%;
  height: 100%;
}
.redraw {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
</style>
