<script setup lang="ts">
import { QBtn, QIcon, QBanner } from 'quasar';
import { computed, ref } from 'vue';
import type { Graph } from '../graph';
import { groupBy, prop, difference } from 'remeda';
import { addTo } from '../util';
import WordInput from './WordInput.vue';
import WordEntry from './WordEntry.vue';
const props = defineProps<{
  graph: Graph;
  validWords: string[];
  generateNewPuzzle(): void;
}>();
const foundWords = ref<string[]>([]);
const revealedWords = ref<string[]>([]);
const allFound = computed(() => difference(props.validWords, [...foundWords.value, ...revealedWords.value]).length === 0);
function enter(word: string) {
  addTo(foundWords, word);
}
function reveal(word: string) {
  addTo(revealedWords, word);
}
const wordsByLength = computed(() => groupBy(props.validWords, prop('length')));
function isValid(word: string) {
  return props.validWords.includes(word);
}
</script>

<template lang="pug">
.solver
  QBtn(
    @click="generateNewPuzzle"
    color="secondary"
    label="Try Another Puzzle"
    rounded
  )
  QBanner.bg-accent.text-white(v-if="allFound")
    template(#avatar)
      QIcon(name="celebration")
    .text You've found them all! Congratulations!
    template(#action)
  WordInput(
    v-else
    :currentWords="foundWords"
    :isValid="isValid"
    @enter="enter"
    hint="Spotted a word?"
  )
    template(#button="props")
      QBtn(
        color="primary"
        rounded
        icon="check"
        label="Check"
        v-bind="props"
      )
  .words
    template(v-for="words, length in wordsByLength")
      WordEntry(
        v-for="word in words"
        :word="word"
        :found="foundWords.includes(word)"
        :revealed="revealedWords.includes(word)"
        @reveal="reveal(word)"
      )
</template>

<style scoped>
.solver {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}
.words {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
}
</style>