<script setup lang="ts">
import { QIcon, QExpansionItem } from 'quasar';
import { minimumWordLength } from '../dictionary';
import wordLengthRuleExample from '../assets/word-length-rule-example.png'
import letterSetRuleExample from '../assets/letter-set-rule=example.png'
import adjacentLettersRuleExample from '../assets/adjacent-letters-rule-example.png';
import repeatingLettersRuleExample from '../assets/repeating-letters-rule-example.png';
</script>

<template lang="pug">
QExpansionItem.rules.shadow-3(
  icon="help"
  label="Rules"
  headerClass="bg-accent text-white"
  expandIconClass="text-white"
)
  .content.bg-grey-1: ul.list
    li.item
      .text Only words with {{minimumWordLength}} or more letters are allowed
      .example.row
        img.image(:src="wordLengthRuleExample")
        .words
          .row
            QIcon(name="check" color="positive")
            .word them
          .row
            QIcon(name="close" color="negative")
            .word the
    li.item A word can only contain letters in the graph, but may use each letter any number of times
      .example.row
        img.image(:src="letterSetRuleExample")
        .words
          .row
            QIcon(name="check" color="positive")
            .word tests
          .row
            QIcon(name="close" color="negative")
            .word best
    li.item Each pair of adjacent letters in a word must be directly connected in the graph
      .example.row
        img.image(:src="adjacentLettersRuleExample")
        .words
          .row
            QIcon(name="check" color="positive")
            .word side
          .row
            QIcon(name="close" color="negative")
            .word dies
    li.item A letter can repeat (be adjacent to itself) only if it has a loop in the graph
      .example.row
        img.image(:src="repeatingLettersRuleExample")
        .words
          .row
            QIcon(name="check" color="positive")
            .word leek
          .row
            QIcon(name="close" color="negative")
            .word kill
</template>

<style scoped>
.header {
  font-weight: bold;
  align-self: center;
}
.content {
  padding: 1em;
}
.list {
  margin: 1em 0 0;
  padding: 0 0 0 1.5em;
}
.item {
  margin: 1em 0;
}
.example {
  margin: 0.5em 0;
  gap: 1em;
  align-items: center;
}
.image {
  width: 15em;
}
.words .row {
  align-items: center;
  gap: 1em;
}
</style>