<script setup lang="ts">
import { computed, ref } from 'vue';
import { useStorage, useVModel } from '@vueuse/core';
import { getRandomWord } from '../dictionary';
import { QBtn } from 'quasar';
import RulesExplainer from './RulesExplainer.vue';
import WordInput from './WordInput.vue';
import { difference } from 'remeda';
import { addTo, removeFrom } from '../util';
const props = defineProps<{
  words: string[];
  redactedWords: string[];
}>();
const words = useVModel(props, 'words');
const redactedWords = useVModel(props, 'redactedWords');
const wordList = computed(() => words.value.map((word, index) => ({
  word,
  revealed: !redactedWords.value.includes(word),
  redact() {
    addTo(redactedWords, word);
  },
  reveal() {
    removeFrom(redactedWords, word);
  },
  remove() {
    removeFrom(words, word);
    removeFrom(redactedWords, word);
  },
})))
function canAddWord(word: string) {
  return !!word && !words.value.includes(word);
}
function addWord(word: string) {
  addTo(words, word);
}
function clearWords() {
  words.value = [];
  redactedWords.value = [];
}

function generateWord() {
  let word = '';
  do {
    word = getRandomWord();
  } while(!canAddWord(word));
  addWord(word);
  addTo(redactedWords, word);
}
function isValid() {
  return true;
}
</script>

<template lang="pug">
.word-list-editor
  WordInput(
    :isValid="isValid"
    v-model:currentWords="words"
    @enter="addWord"
    hint="Type word"
  )
    template(#button="props")
      QBtn(
        icon="add"
        color="positive"
        round
        size="sm"
        v-bind="props"
      )
  .row
    QBtn(
      icon="casino"
      color="secondary"
      @click="generateWord"
      label="Add Random Word"
    )
    QBtn(
      v-if="words.length > 0"
      icon="delete_sweep"
      color="negative"
      @click="clearWords"
      label="Clear Words"
    )
  .words
    slot(name="note")
    .row.entry(v-for="{word, revealed, reveal, redact, remove}, index in wordList") 
      QBtn(
        icon="remove"
        color="negative"
        round
        size="sm"
        @click="remove"
      )
      template(v-if="revealed")
        .word {{word}} 
        QBtn.redact(
          icon="visibility_off"
          label="Redact"
          color="secondary"
          rounded
          size="sm"
          @click="redact"
        )
      template(v-else)
        .redaction
        QBtn.reveal(
          icon="visibility"
          label="Reveal"
          color="warning"
          rounded
          size="sm"
          @click="reveal"
        )
</template>

<style scoped>
.word-list-editor {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.words {
  margin-top: 1em;
}
.row {
  gap: 1em;
  margin-bottom: 0.5em;
  align-items: center;
}
.redaction {
  background-color: darkgray;
  height: 3ex;
  width: 10em;
}
.reveal, .redact {
  margin-left: auto;
}
</style>
