<script setup lang="ts">
import { useVModel } from '@vueuse/core';
import { QInput } from 'quasar';
import { computed, ref, watch } from 'vue';
import { isWord, minimumWordLength } from '../dictionary';
const props = defineProps<{
  currentWords: string[];
  isValid: (word: string) => boolean;
}>();
const emit = defineEmits<{
  (name: 'enter', word: string): void;
}>();
const input = ref('');
function isEmpty(text: string) {
  return text.length === 0;
}
const rules = computed(() => isEmpty(input.value) ? [] : [
  (value: string) => value.length >= minimumWordLength || 'Too short',
  (value: string) => isWord(value) || 'Not a word',
  (value: string) => props.isValid(value) || 'Not valid',
  (value: string) => !props.currentWords.includes(value) || 'Already in the list',
]);
const field = ref<InstanceType<typeof QInput>>();
watch(input, input => {
  if(isEmpty(input)) {
    field.value?.resetValidation();
  }
})
const error = ref(false);
const canAddWord = computed(() => !isEmpty(input.value) && !error.value);
function addWord() {
  emit('enter', input.value);
  input.value = '';
}
</script>

<template lang="pug">
QInput(
  ref="field"
  v-bind="$attrs"
  v-model="input"
  :rules="rules"
  reactive-rules
  v-model:error="error"
  @keypress.enter="addWord"
  bg-color="grey-1"
  outlined
  rounded
)
  template(#append)
    slot(name="button" v-bind=`{
      disabled: !canAddWord,
      onClick: addWord,
    }`)
</template>