<script setup lang="ts">
import { QIcon, QBtn } from 'quasar';
import { computed, ref } from 'vue';
const props = defineProps<{
  word: string;
  found: boolean;
  revealed: boolean;
}>();
const emit = defineEmits<{
  (name: 'reveal'): void;
}>();
const definitionRevealed = ref(false);
const wordText = computed(() => props.revealed || props.found ? props.word : props.word.replaceAll(/./g, '_'))
</script>

<template lang="pug">
.entry
  .icon
    template(v-if="found")
      QIcon(
        name="check"
        color="positive"
      )
    template(v-else)
      QIcon.reveal(
        @click="emit('reveal')"
        name="visibility"
        color="warning"
      )
  .word(:class="{revealed}") {{ wordText }}
  .definition
</template>

<style scoped>
.entry {
  font-size: 24px;
  display: flex;
  gap: 5px;
}
.reveal {
  cursor: pointer;
}
.word:not(.revealed) {
  letter-spacing: 1px;
}
</style>