<script setup lang="ts">
import { useStorage } from '@vueuse/core';
import { computed, ref, watch } from 'vue';
import { QTabs, QTab, QTabPanels, QTabPanel, QIcon, QBanner, QBtn } from 'quasar';
import { getGraph } from './graph';
import { makeChecker } from './puzzle';
import { getRandomWord, words as allWords } from './dictionary';
import WordInput from './components/WordInput.vue';
import WordListEditor from './components/WordListEditor.vue';
import GraphRenderer from './components/GraphRenderer.vue';
import PuzzleSolver from './components/PuzzleSolver.vue';
import RulesExplainer from './components/RulesExplainer.vue';
const words = useStorage<string[]>('words', []);
const redactedWords = useStorage<string[]>('redactedWords', []);
const enteredWords = useStorage<string[]>('enteredWords', []);
const solveWordInput = ref('');
function generateNewPuzzle() {
  enteredWords.value = [];
  redactedWords.value = words.value = [getRandomWord()];
}
const mode = useStorage<'edit' | 'solve'>('mode', 'solve');
const graph = computed(() => getGraph(words.value));
const checker = computed(() => {
  try {
    return makeChecker(graph.value);
  } catch(error) {
    return null;
  }
});
const validWords = computed(() => {
  const test = checker.value?.test.bind(checker.value);
  return test ? allWords.filter(test) : [];
});
const isEmpty = computed(() => words.value.length === 0);
const isTooComplex = computed(() => !checker.value);
const canSolve = computed(() => !isEmpty.value && !isTooComplex.value);
watch(canSolve, value => {
  if(!value) {
    mode.value = 'edit';
  }
})
if(isEmpty.value) {
  generateNewPuzzle();
}
</script>

<template lang="pug">
.container
  GraphRenderer.graph(
    v-model:input="solveWordInput"
    :words="words"
    :graph="graph"
  )
  .panel.shadow-2
    QTabs.tabs.bg-grey-3(v-model="mode" active-bg-color="info")
      QTab(
        icon="edit"
        name="edit"
        label="Edit"
      )
      QTab(
        icon="quiz"
        name="solve"
        label="Solve"
        :disable="!canSolve"
      )
    QTabPanels.tab-panels.bg-grey-3(v-model="mode")
      QTabPanel(name="edit")
        WordListEditor.edit(
          v-model:words="words"
          v-model:redactedWords="redactedWords"
        )
          template(#note)
            QBanner.note.bg-secondary.text-white(v-if="isEmpty")
              template(#avatar)
                QIcon(name="tips_and_updates")
              .text It's empty here! Enter a word, or generate a random one to start.
            QBanner.note.bg-negative.text-white(v-else-if="isTooComplex")
              template(#avatar)
                QIcon(name="warning")
              .text This puzzle is too complex for me (and probably you) to process. Delete some words!
            QBanner.note.bg-info.text-white(v-else-if="canSolve")
              template(#avatar)
                QIcon(name="tips_and_updates" size="lg")
              .text There are {{validWords.length}} valid words for the puzzle. Try to find them in the Solve mode.
              template(#action)
                QBtn(
                  @click="mode = 'solve'"
                  label="Solve"
                  icon="quiz"
                  color="primary"
                  rounded
                )
      QTabPanel(name="solve")
        PuzzleSolver(
          ref="solver"
          :graph="graph"
          :validWords="validWords"
          :generateNewPuzzle="generateNewPuzzle"
        )
  RulesExplainer.rules
</template>

<style scoped>
:global(html) {
  background-color: #e0e0e0;
}

:global(body) {
  padding: 0;
  margin: 0;
}
.container {
  --margin: 1em;
  margin: var(--margin);
  height: calc(100vh - 2 * var(--margin));
  display: flex;
  gap: 1em;
}
.graph {
  height: 100%;
}
.panel {
  flex: 40em;
  display: flex;
  flex-direction: column;
}
.rules {
  position: absolute;
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  bottom: var(--margin);
  right: var(--margin);
}
@media (max-width: 1024px) {
  .container {
    --margin: 0em;
    gap: 0;
  }
}
@media (max-width: 1024px) and (orientation: portrait){
  .container {
    flex-direction: column;
  }
  .graph {
    height: 30vh;
  }
}
.tabs, .tab-panels {
  background-color: #fefefe;
}
.tab-panels {
  height: 100%;
}
.note {
  margin: 1em 0;
}
</style>
